__pycache__
*.egg-info
dickens/
book.txt
lightrag-dev/
.idea/
dist/
env/
local_neo4jWorkDir/
neo4jWorkDir/
ignore_this.txt
.venv/
*.ignore.*
.ruff_cache/
gui/
*.log
.vscode
.env/
preprocess/tree-sitter-*
deepseek-*/
deepseekv3-*/
glm-*/
glm4*/
lib/
.DS_Store
models/
inputs
rag_storage
.env
venv/
examples/input/
examples/output/
